@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 98%;
    --foreground: 240 10% 20%;
    --primary: 200 100% 50%;
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    font-family: "Inter", serif;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --primary: 200 100% 50%;
    background-color: rgb(0 0 0); /* Negro puro */
    color: rgb(255 255 255); /* Blanco puro */
  }
}
::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
  height: 12px;
  /* Alto de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
  background: #313131;
  /* Color del track (fondo) */
}

::-webkit-scrollbar-thumb {
  background: #5a5959;
  /* Color del pulgar */
}
@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
}